<!-- Main navigation -->

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/materialize">Materialize</a></li>
                <li><a href="#/typography">Typography</a></li>
                <li><a href="#/images">Images</a></li>
                <li><a href="#/layout">Layout</a></li>
                <li><a href="#/about">About</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a class="waves-effect waves-green" href="#/home">Home</a></li>
                <li><a class="waves-effect waves-green" href="#/materialize">Materialize</a></li>
                <li><a class="waves-effect waves-green" href="#/typography">Typography</a></li>
                <li><a class="waves-effect waves-green" href="#/images">Images</a></li>
                <li><a class="waves-effect waves-green" href="#/layout">Layout</a></li>
                <li><a class="waves-effect waves-green" href="#/about">About</a></li>
            </ul>
        </div>
    </nav>
</div>
